.Chat-main
  .RightHeader
    .RightHeader__group
      .RightHeader__Name
        = @group.name
      %ul.RightHeader__list
        Menber：
        %li.RightHeader__list__member
          = current_user.name
    = link_to 'Edit', edit_group_path(@group), class: "RightHeader__edit"

  .MessageField
    = render @messages

  .Footer
    = form_with model: [@group, @message], html: {class: "Form-one"}, local: true do |f|
      .Form-text
        = f.text_field :content, class: "Form-text__box", placeholder: "type a message"
        = f.label :image, "Form-text__image" do
          = icon('fas', 'image', class: 'Form__icon')
          = f.file_field :image, class: "Form-text__image__file"
      = f.submit 'Send', class: 'submit'
