.Side-bar
  .LeftHeder
    .LeftHeder__Box
      %p.Name
        = current_user.name
      %ul.LeftHeder__Box__icon-box
        %li.icon-edit
          = link_to "#" do
            = icon('fas', 'edit')
        %li.icon-cog
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')

  .GroupList
    = link_to "#", class:"Group" do
      %p.Group__name testG
      %p.Group__message testm

      

